packages:
  - base.apkg

lightmap_bin: baked/lightmap.bin
lightmap_manifest: baked/lightmap_manifest.cfg

instance_obj_mapping:
  - test_cube : game_objects/test_cube.aobj
  #- test_animated_mesh : game_objects/test_animated_mesh.aobj
  - sun : game_objects/sun.aobj
  - sun_morning : game_objects/sun_morning.aobj
  - sun_evening : game_objects/sun_evening.aobj
  - ground_plane : game_objects/ground_plane.aobj
  - cube_a : game_objects/cube_a.aobj
  - cube_b : game_objects/cube_b.aobj
  - cube_c : game_objects/cube_c.aobj
  - point_light_1 : game_objects/point_light_1.aobj
  - point_light_2 : game_objects/point_light_2.aobj
  - spot_light_1 : game_objects/spot_light_1.aobj